@page "/authorization"
@inject UserService userService
@inject NavigationManager NavigationManager
@using KomunYslugi.Data
<section class="vh-100" style="background-color: #2779e2;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">Authorization</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Login</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="text" class="form-control form-control-lg" @bind-value="@Login"/>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Password</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="Password" class="form-control form-control-lg" @bind-value="@Password" />

              </div>
            </div>

            <hr class="mx-n3">

            <div class="px-5 py-4">
              <button type="submit" class="btn btn-primary btn-lg" @onclick="AuthorizationEvent">authorization</button>
            </div>
            <h6>@erorrSttr</h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

@code {
    string Login = "";
    string Password = "";
    User user;

    string erorrSttr = "";
    public async void AuthorizationEvent ()
    {
        erorrSttr = "Пользователь ищется!";
        user = await MongoExamples.FindAsync(Login);
        if (user != null && user.Password == Password)
        {
            userService.user = user;
            userService.authorizationCheck = true;
            NavigationManager.NavigateTo("/profil");
        }
        else
        {
            erorrSttr = "Пользователь не найден!";
        }
        
    }

}
